<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>PlaceSearch App</title>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMe0LmJhmXT-TKa7LyT5JL3E4r5ohCep4&libraries=places" async defer></script> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but place-search-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    
    <!-- built files will be auto injected -->

  </body>
</html>
