<template>
  <div class="google-map">
    <!-- Places Icon -->
    <div class="place-search">
        <button v-on:click="placesearch('bank');">Banks</button>
        <button v-on:click="placesearch('atm');">ATM</button>
        <button v-on:click="placesearch('hospital');">Hospital</button>
        <button v-on:click="placesearch('airport');">Airport</button>
    </div>
    
    <!-- Map Holder -->
    <div id="map"></div>

    <!-- List of places searched -->
    <div id="listing">
        <table id="resultsTable">
            <tbody id="results"></tbody>
        </table>
    </div>

    <!-- Information modal of place selected on map -->
    <div style="display: none">
        <div id="info-content">
            <table>
                <tr id="iw-url-row" class="iw_table_row">
                    <td id="iw-icon" class="iw_table_icon"></td>
                    <td id="iw-url"></td>
                </tr>
                <tr id="iw-address-row" class="iw_table_row">
                    <td class="iw_attribute_name">Address:</td>
                    <td id="iw-address"></td>
                </tr>
                <tr id="iw-phone-row" class="iw_table_row">
                    <td class="iw_attribute_name">Telephone:</td>
                    <td id="iw-phone"></td>
                </tr>
                <tr id="iw-rating-row" class="iw_table_row">
                    <td class="iw_attribute_name">Rating:</td>
                    <td id="iw-rating"></td>
                </tr>
                <tr id="iw-website-row" class="iw_table_row">
                    <td class="iw_attribute_name">Website:</td>
                    <td id="iw-website"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</template>

<script>
import GoogleMapsApiLoader from 'google-maps-api-loader'
export default {
  name: 'google-map',
  data: function(){
      return {
        google: null,
        map: null,
        position: null,
        infoWindow: null,
        places: null,
        markers: [],
        MARKER_PATH: 'https://developers.google.com/maps/documentation/javascript/images/marker_green',
        hostnameRegexp: new RegExp('^https?://.+?/')
      }
  },
  async mounted () {
    const googleMapApi = await GoogleMapsApiLoader({
      libraries: ['places'],
      apiKey: 'AIzaSyDMe0LmJhmXT-TKa7LyT5JL3E4r5ohCep4'
    })
    this.google = googleMapApi
    this.loadmap();
  },
  methods: {
    //This method will load map
    loadmap:function() {
      let _self = this;
      var x = document.getElementById('map');
      
      //Checking geolocation api is available
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(getPosition, showError);
      } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
      }

      //Get cordinates and update it
      function getPosition(position) {
        _self.position = {center: {lat: position.coords.latitude, lng: position.coords.longitude}, zoom: 13}
        initMap(); 
      }

      //Show error when geolocation api not able to get cordinates
      function showError(error) {
          switch(error.code) {
              case error.PERMISSION_DENIED:
              x.innerHTML = "User denied the request for Geolocation."
              break;
              case error.POSITION_UNAVAILABLE:
              x.innerHTML = "Location information is unavailable."
              break;
              case error.TIMEOUT:
              x.innerHTML = "The request to get user location timed out."
              break;
              case error.UNKNOWN_ERROR:
              x.innerHTML = "An unknown error occurred."
              break;
          }
      }

      // Initialize google map
      function initMap() {

        _self.map = new _self.google.maps.Map(x, {
          zoom: _self.position.zoom,
          center: _self.position.center,
          mapTypeControl: false,
          panControl: false,
          zoomControl: false,
          streetViewControl: false
        });

        const location = new _self.google.maps.LatLng(_self.position.center.lat, _self.position.center.lng);
        // Use marker animation to drop the icons on the map.            
        const currentlocation = new _self.google.maps.Marker({
              position: location,
              animation: _self.google.maps.Animation.DROP,
              
            });
            currentlocation.setMap(_self.map);

        _self.infoWindow = new _self.google.maps.InfoWindow({
          content: document.getElementById('info-content')
        });

        _self.places = new _self.google.maps.places.PlacesService(_self.map);

      }


    },

    // Search for place within the viewport of the map.
    placesearch: function(type) {
      let _self = this;
      
      var search = {
        bounds: _self.map.getBounds(),
        types: [type]
      };
      
      _self.places.nearbySearch(search, function(results, status) {
        
        if (status === _self.google.maps.places.PlacesServiceStatus.OK) {
          clearResults();
          clearMarkers();
          // Create a marker for each place found, and
          // assign a letter of the alphabetic to each marker icon.
          for (var i = 0; i < results.length; i++) {
            var markerLetter = String.fromCharCode('A'.charCodeAt(0) + (i % 26));
            var markerIcon = _self.MARKER_PATH + markerLetter + '.png';
            // Use marker animation to drop the icons incrementally on the map.
            
            _self.markers[i] = new _self.google.maps.Marker({
              position: results[i].geometry.location,
              animation: _self.google.maps.Animation.DROP,
              icon: markerIcon
            });
            
            // If the user clicks a place marker, show the details of that place
            // in an info window.
            _self.markers[i].placeResult = results[i];
            _self.google.maps.event.addListener(_self.markers[i], 'click', showInfoWindow);
            setTimeout(dropMarker(i), i * 100);
            addResult(results[i], i);
          }
        }
      });
    
      // Clear all markers from map
      function clearMarkers() {
        for (var i = 0; i < _self.markers.length; i++) {
          if (_self.markers[i]) {
            _self.markers[i].setMap(null);
          }
        }
        _self.markers = [];
      }

      function dropMarker(i) {
        return function() {
          _self.markers[i].setMap(_self.map);
        };
      }

      // Show list of the places searched
      function addResult(result, i) {
        var results = document.getElementById('results');
        var markerLetter = String.fromCharCode('A'.charCodeAt(0) + (i % 26));
        var markerIcon = _self.MARKER_PATH + markerLetter + '.png';

        var tr = document.createElement('tr');
        tr.style.backgroundColor = (i % 2 === 0 ? '#F0F0F0' : '#FFFFFF');
        tr.onclick = function() {
          _self.google.maps.event.trigger(_self.markers[i], 'click');
        };

        var iconTd = document.createElement('td');
        var nameTd = document.createElement('td');
        var icon = document.createElement('img');
        icon.src = markerIcon;
        icon.setAttribute('class', 'placeIcon');
        icon.setAttribute('className', 'placeIcon');
        var name = document.createTextNode(result.name);
        iconTd.appendChild(icon);
        nameTd.appendChild(name);
        tr.appendChild(iconTd);
        tr.appendChild(nameTd);
        results.appendChild(tr);
      }

      function clearResults() {
        var results = document.getElementById('results');
        while (results.childNodes[0]) {
          results.removeChild(results.childNodes[0]);
        }
      }

      // Get the place details for a hotel. Show the information in an info window,
      // anchored on the marker for the hotel that the user selected.
      function showInfoWindow() {
        var marker = this;
        _self.places.getDetails({placeId: marker.placeResult.place_id},
            function(place, status) {
              if (status !== _self.google.maps.places.PlacesServiceStatus.OK) {
                return;
              }
              _self.infoWindow.open(_self.map, marker);
              buildIWContent(place);
            });
      }

      // Load the place information into the HTML elements used by the info window.
      function buildIWContent(place) {
        document.getElementById('iw-icon').innerHTML = '<img class="hotelIcon" ' +
            'src="' + place.icon + '"/>';
        document.getElementById('iw-url').innerHTML = '<b><a href="' + place.url +
            '">' + place.name + '</a></b>';
        document.getElementById('iw-address').textContent = place.vicinity;

        if (place.formatted_phone_number) {
          document.getElementById('iw-phone-row').style.display = '';
          document.getElementById('iw-phone').textContent =
              place.formatted_phone_number;
        } else {
          document.getElementById('iw-phone-row').style.display = 'none';
        }

        // Assign a five-star rating to the hotel, using a black star ('&#10029;')
        // to indicate the rating the hotel has earned, and a white star ('&#10025;')
        // for the rating points not achieved.
        if (place.rating) {
          var ratingHtml = '';
          for (var i = 0; i < 5; i++) {
            if (place.rating < (i + 0.5)) {
              ratingHtml += '&#10025;';
            } else {
              ratingHtml += '&#10029;';
            }
          document.getElementById('iw-rating-row').style.display = '';
          document.getElementById('iw-rating').innerHTML = ratingHtml;
          }
        } else {
          document.getElementById('iw-rating-row').style.display = 'none';
        }

        // The regexp isolates the first part of the URL (domain plus subdomain)
        // to give a short URL for displaying in the info window.
        if (place.website) {
          //var fullUrl = place.website;
          var website = _self.hostnameRegexp.exec(place.website);
          if (website === null) {
            website = 'http://' + place.website + '/';
            //fullUrl = website;
          }
          document.getElementById('iw-website-row').style.display = '';
          document.getElementById('iw-website').textContent = website;
        } else {
          document.getElementById('iw-website-row').style.display = 'none';
        }
      }
    }
    
  }
}
</script>

<style>
       #map {
        width: 100%;
        height: 100vh;
        text-align: center;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      body {
        padding: 0 !important;
      }
      table {
        font-size: 12px;
      }
      .place-search {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 1;
      }

      .place-search button{
        background-color: white;
        border:1px solid gray;
        color: #000;
        padding: 5px;
        cursor: pointer;
      }
      
      #listing {
        position: absolute;
        width: 200px;
        overflow: auto;
        right: 0px;
        top: 0px;
        bottom:0px;
        cursor: pointer;
        overflow-x: hidden;
      }
     
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
      #info-content {
          text-align: left;
      }
</style>
