<template>
  <div id="app">
    <google-map></google-map>
  </div>
</template>

<script>
import GoogleMap from './components/GoogleMap.vue'

export default {
  name: 'app',
  components: {
    GoogleMap
  }
}
</script>


